[Desktop Entry]
Name=Monochrome
Comment=Video viewer for raw monochromatic video data
Exec=Monochrome
Icon=Monochrome
Type=Application
Terminal=false
Categories=Science;
